* {
    min-width: 0;
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
video,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    margin: 0;
    min-height: 100dvh;
    background-image: url(../image/mesa-casino-vertical.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

.header {
    font-size: xx-large;
    font-weight: 400;
    /* margin-bottom: 2rem; */
}

main {
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    /* height: 100dvh; */
    justify-content: center;
    align-items: center;
    width: 90dvw;
    /* gap: 1rem; */
}

.sectorJuego {
    /* background-color: beige; */
    height: 160px;
    width: 100%;
}

.sectorJuego__titulo__puntos {
    font-weight: 200;
    font-size: large;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.369);
    border-radius: 12px;
    padding: 4px 8px;
}

.sectorMensaje {
    /* background-color: brown; */
    /* height: 30%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectorMensaje__mensaje {
    font-weight: 600;
    font-size: xx-large;
    /* color: rgb(207, 191, 121); */
    color: antiquewhite;
    border: 3px solid rgba(255, 255, 255, 0.369);
    border-radius: 999px;
    padding: 8px 16px;
    height: 60px;
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sectorJuego__cartas {
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 60%; */
}

/* .sectorJuego__cartas img {} */

/* .sectorJuego__cartas--computadora {
    background-color: blueviolet;
}

.sectorJuego__cartas--jugador {
    background-color: rgb(81, 192, 209);
} */

.sectorJuego__titulo--win {
    display: none;
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}

.carta {
    width: 100px;
    /*  margin-left: -75px; */
}


.botones {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-top: 1rem;
}

.botones__section {
    display: flex;
    gap: 1rem;
}

.botones__boton {
    color: white;
    background-color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 999px;
    cursor: pointer;
    position: relative;
    width: 150px;
}

.botones__boton--disabled {
    color: white;
    background-color: rgba(201, 197, 197, 0.354);
    border: none;
    padding: 8px 16px;
    border-radius: 999px;
    /* cursor: none; */
    position: relative;
    width: 150px;
}


.botones__boton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, white, rgb(255, 255, 119), antiquewhite, rgb(255, 255, 124), white, rgb(255, 255, 127), antiquewhite, white);
    background-size: 800%;
    border-radius: 999px;
    filter: blur(6px);
    animation: glowing 60s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


@media(width >=768px) {

    body {
        background-image: url('../image/mesa-casino.jpg');
    }

    main {
        height: 85vh;
        width: 80vw;
    }

    .header {
        color: antiquewhite;
        margin-bottom: 0.5rem;
        font-size: xxx-large;
        font-weight: 600;
        /*  margin-bottom: 2rem; */
    }

    .sectorMensaje {
        flex-direction: row;
        gap: 1rem;
        height: 30%;
    }

    .sectorJuego__titulo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    .sectorJuego__titulo--jugador {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .botones {
        flex-direction: row-reverse;
        margin-top: 0.5rem;
    }

    .botones__boton {
        padding: 16px 32px;
    }

    .botones__boton--disabled {
        padding: 16px 32px;
    }



}