* {
    min-width: 0;
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
video,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    margin: 0;
    min-height: 100dvh;
    background-color: rgb(0, 152, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

main {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 80vh;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.sectorJuego {
    background-color: beige;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sectorJuego__cartas {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sectorJuego__titulo--win {
    display: none;
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}

.carta {
    width: 100px;
    /*  margin-left: -75px; */
}